
@if(PostsToLoad == null || !PostsToLoad.Any())
{
    <div class="d-flex flex-column align-self-center">
        <i class="fa-solid fa-fire mx-auto m-4" style="font-size:4em"></i>
        <h3 class="mx-auto">There is nothing to see here</h3>
        <h3 class="mx-auto">Create a new post or come back later...</h3>
    </div>
}
else
{
    <PostThread Posts="PostsToLoad" />
}
