<div class="d-flex justify-content-center w-100 h-100">
    <div class="d-block w-100" style="max-width:35rem">
        @if (Posts != null)
        {
            @foreach (var post in Posts)
            {
                <PostView post="@post"></PostView>
            }
        }
    </div>
</div>

