.profile-image {
    margin: 1rem auto;
    width: 20rem;
    height: 20rem;
    background-size: cover;
    background-position: center;
}

.pentagon {
    clip-path: polygon(50% 0, 100% 45%, 80% 100%, 20% 100%, 0 45%);
    filter: url('#pentagon-filter-tag');
}

.pentagon-filter {
    visibility: hidden;
    position: absolute;
    width: 0px;
    height: 0px;
}

.profile-infos {
    border-radius: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
