.carousel-image {
    padding-right: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    border-radius: 2rem;

    transition-property: top, bottom, left, right, opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.carousel-carret {
    font-size: 3rem;
    cursor: pointer;
    transition-property: opacity;
    transition-duration: 0.2s;
    z-index: 1;
    text-shadow: 3px 0 #fff, -3px 0 #fff, 0 3px #fff, 0 -3px #fff, 2px 2px #fff, -2px -2px #fff, 2px -2px #fff, -2px 2px #fff;
}
