@page "/fetchdata"
@using FDRWebsite.Client.Clients;
@using FDRWebsite.Shared.Models;
@using FDRWebsite.Shared

<div class="d-flex align-content-center">
    <FDRWebsite.Client.Components.PostThread></FDRWebsite.Client.Components.PostThread>
</div>
