@page "/userprofile/{UserId:int}"
@using FDRWebsite.Client.Clients;
@using FDRWebsite.Client.Components
@using FDRWebsite.Shared.Models;
@using FDRWebsite.Shared

<div class="container mt-4">
    @if (user == null)
    {
        <div class="row">
            <div class="col text-center">
                <h3>This user does not exists or was deleted...</h3>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col mx-auto">
                <div style="width: 10rem; height: 10rem;">
                    <ProfilePicture ImageURL="@user.Photo_Profil.URL_Source"></ProfilePicture>
                </div>
            </div>
        </div>

        <div class="row my-2">
            <div class="col text-center">b45
                <h2>@user.Pseudo</h2>
            </div>
        </div>

        <div class="row my-5">
            <div class="col">
                <div class="profile-infos">
                    <div class="container">
                        <div class="row py-3">
                            <div class="col text-center">
                                <i class="fa-solid fa-users"></i>
                                <p class="my-0">Followers</p>
                            </div>
                            <div class="col text-center">
                                <i class="fa-solid fa-heart"></i>
                                <p class="my-0">Likes</p>
                                <p class="my-0">@likeCount</p>
                            </div>
                            <div class="col text-center">
                                <i class="fa-solid fa-comment"></i>
                                <p class="my-0">Posts</p>
                                <p class="my-0">@postCount</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-5">
            <div class="col text-center">
                @if (UserPosts == null || !UserPosts.Any())
                {
                    <h3 class="mt-5">The user has no posts</h3>
                }
                else
                {
                    <PostThread Posts="UserPosts" />
                }
            </div>
        </div>
    }
</div>
