@page "/userprofile/{UserId:int}"
@using FDRWebsite.Client.Clients;
@using FDRWebsite.Shared.Models;
@using FDRWebsite.Shared

<div class="d-flex align-content-center w-100">
    @if (UserId == null)
    {
    }
    else
    {
        <div class="d-flex flex-column justify-content-center w-100">
            <div class="banner">

            </div>
                
            <div class="user-icon">

            </div>

            <div>

            </div>
        </div>
    }
</div>
