body {
    height: 100%;
}

.page {
    display: flex;
    justify-content: center;
}

.main {
    height: 100vh;
    max-width: 1920px;
    flex: 1;
}

.content {
    height: 100%;
}


.sidebar {
    height: 100vh;
    position: sticky;
    top: 0;
}