.nav-text {
    overflow: hidden;
}

.nav-background {
    border-style: solid;
    border-color: #F5F5F5;
    border-width: 1px;
    box-shadow: rgba(55, 55, 60, 0.2) 0px 7px 29px 0px;
}

.nav-text > p {
    white-space: nowrap;
    margin: 0 0 0 -100% !important;
    transition-property: margin-left;
    transition-duration: 0.2s;
}

.nav-link:hover > .nav-text > p {
    margin-left: 0.5rem!important;
}