<div class="d-flex flex-column justify-content-center h-100 px-5 py-3 position-fixed">
    <nav class="nav-background d-flex flex-column justify-content-between rounded-pill" style="width: 3rem; min-height:12rem; overflow:visible">

        @foreach (var entry in navigationEntries)
        {
            <div class="nav-item py-2">
                <NavLink class="nav-link d-inline-flex" href="@entry.Url" Match="NavLinkMatch.All">
                    <i class="fa-solid @entry.Icon my-auto me-3" style="width: 1rem"></i>
                    <div class="nav-text">
                        <p class="my-0 ms-2">@entry.Title</p>
                    </div>
                </NavLink>
            </div>
        }
    </nav>
</div>


