<div class="d-flex flex-column justify-content-center h-100 px-5 py-3">
    <nav class="flex-column justify-content-center bg-dark rounded-pill" style="width: 3rem; overflow:visible">
        <div class="nav-item py-2">
            <NavLink class="nav-link d-inline-flex" href="" Match="NavLinkMatch.All">
                <i class="fa-solid fa-house my-auto" style="width: 2.5rem;"></i>
                <p class="my-0">Home</p>
            </NavLink>
        </div>
        <div class="nav-item py-2">
            <NavLink class="nav-link d-inline-flex" href="counter">
                <i class="fa-solid fa-address-card my-auto" style="width: 2.5rem;"></i>
                <p class="my-0">Profile</p>
            </NavLink>
        </div>
        <div class="nav-item py-2">
            <NavLink class="nav-link d-inline-flex" href="fetchdata">
                <i class="fa-solid fa-square-plus my-auto" style="width: 2.5rem;"></i>
                <p class="my-0">Post</p>
            </NavLink>
        </div>
        <div class="nav-item py-2">
            <NavLink class="nav-link d-inline-flex" href="fetchdata">
                <i class="fa-solid fa-key my-auto" style="width: 2.5rem;"></i>
                <p class="my-0">Login</p>
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
