.nav-text {
    overflow: hidden;
}

.nav-background {
    background: #F7F7F7;
    border-style: solid;
    border-color: #D4D4D4;
    border-width: 2px;
}

.nav-text > p {
    margin: 0 0 0 -100% !important;
    transition-property: margin-left;
    transition-duration: 0.2s;
}

.nav-link:hover > .nav-text > p {
    margin-left: 0.5rem!important;
}